@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Typography */
  --font-body: Roboto, sans-serif;
  --font-weight-title: 800;
  --font-weight-semibold: 500;
  --font-weight-text: 400;

  /* Color palette */
  --color-blue-gray: #475569;
  --color-orange-strong: #ea580c;
  --color-orange-light: #fb923c;
  --color-yellow-strong: #facc15;
  --color-dark-blue: #0f172a;
}

@layer base {
  header,
  section {
    @apply px-4 py-12 lg:p-20;
  }
}

@utility btn-ghost {
  &:hover {
    @apply bg-orange-strong;
  }
}

@utility btn-outline {
  &:hover {
    @apply bg-orange-strong;
  }
}

@utility footer-title {
  @apply opacity-100;
}

@layer components {
  .hover-underline {
    @apply relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-orange-strong after:scale-x-0 after:origin-left hover:after:scale-x-100 after:transition-transform after:duration-300;
  }
}
